In [1]:
mystring='hello'

In [2]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist=[letter for letter in mystring]

In [5]:
mystring

'hello'

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist=[x for x in 'word']

In [8]:
mylist

['w', 'o', 'r', 'd']

In [9]:
mylist=[qweqwe for qweqwe in 'wordtwo']

In [10]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [11]:
mylist=[x for x in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist=[num for num in range(0,11)]

In [14]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
mylist=[num**2 for num in range(0,11)]

In [16]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mystring=range(0,10)

In [20]:
mylist=[]

for letter in mystring:
    mylist.append(letter**2)

In [21]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
mylist=[x for x in range(0,11) if x%2==0]

In [23]:
mylist

[0, 2, 4, 6, 8, 10]

In [24]:
mylist=[x**2 for x in range(0,11) if x%2==0]

In [25]:
mylist

[0, 4, 16, 36, 64, 100]

In [27]:
celcius=[0,10,20,34.5]

farenheit=[((9/5)*temp +32) for temp in celcius]

In [28]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [31]:
farenheit=[]

for temp in celcius:
    farenheit.append((9/5)*temp+32)

In [32]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [37]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [38]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [39]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [40]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [41]:
mylist=[x*y for x in [2,4,6] for y in [100,200,300]]

In [42]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [1]:
st = 'Print every word in this sentence that has an even number of letters'

In [5]:
st.split()
for x in st.split():
    if len(x)%2==0:
        print(x+'-->word is even')

word-->word is even
in-->word is even
this-->word is even
sentence-->word is even
that-->word is even
an-->word is even
even-->word is even
number-->word is even
of-->word is even

In [28]:
s='my name is shreya'

In [25]:
x=s.split()
for word in x:
     list[print(word[0])]

m
n
i
s

In [32]:
[word[0] for word in s.split()]

['m', 'n', 'i', 's']

In [30]:
s.split()

['my', 'name', 'is', 'shreya']

In [33]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz